@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap');

body {
  font-family: 'Be Vietnam Pro', sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  background-image: url(../../images/blurry-gradient-haikei.png);
  background-size: cover;
  background-position: center;
}

.navbar {
  font-family: 'Be Vietnam Pro', sans-serif;
  background-color: transparent;
  transition: 1s;
}

.navbar-toggler-icon {
  filter: brightness(0) contrast(500) invert(1);
}

.logo {
  width: 125px;
}

.inputFilme{
  background-color: transparent;
}

main {
  padding-top: 80px;
}

#form {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: auto;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 8px ;
  background: rgba(255, 255, 255, 0.7);
  width: 600px;
}

.coluna1, .coluna2 {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 50%;
  padding: 20px 20px;
  color: #294795;
}

#botao {
  width: 300px;
  height: 50px;
  margin-bottom: 25px;
}

.erro {
  border: solid 2px red;
  outline-color: red;
}

.footerInfo{
  background-color: #060c21;
  height: 4em;
  border-radius: 20px;
}

.footerInfo p{
    margin-top: 20px;
}

.navbar:hover{
  background-color: #060c21;
  margin: 20px;
  border-radius: 30px;
}

.logo:hover{
  transition: 2s;
  transform: scale(1.1);
}

.nav-link:hover{
  filter: drop-shadow(2px 1px 4px #1ee0d0);
}

@media (max-width:700px){
  .container {
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 10px;

  }
  .coluna1, .coluna2 {
    width: 100% ;
  }
  #botao {
    width: auto;
  }
  .footerInfo {
    flex-direction: column;
    height: auto;
  }
}