@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Baloo+Da+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap');

body {
  background-image: url(../../images/blurry-gradient-haikei.png);
  background-size: cover;
  background-position: center;
}

main {
  padding-top: 80px;
}

.navbar {
  font-family: 'Be Vietnam Pro', sans-serif;
  background-color: transparent;
  transition: 1s;
}

.navbar-toggler-icon {
  filter: brightness(0) contrast(500) invert(1);
}

.logo {
  width: 125px;
}

.inputFilme{
  background-color: transparent;
}

.btn{
  background-color: #060c21;
  color: white;
  border-color: white;
}

.destaque{
  height: 700px;
}
.carousel-item img{
  border-radius: 15px;
  padding: 6px;
  filter: drop-shadow(2px 1px 4px #1ee0d0);
}

.tituloServ{
  font-size: 80px;
  color:#ffffff;
}

.serv, .paragServ {
  font-family: 'Be Vietnam Pro', sans-serif;
}

.textoServ{
  width: 50%;
}

.filme-catalogo {
  width: 270px;
  height: 400px;
  object-fit: cover;
}

.card-filme {
  position: relative;
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #060c21;
  margin: 40px;
}

.card-filme:before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
}

.card-filme:after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -2;
  filter: blur(40px);
}

.card-filme .glass {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.card-filme:nth-child(odd):before,
.card-filme:nth-child(odd):after {
  background: linear-gradient(235deg, #89ff00, #001c3f, #00bcd4);
}

.card-filme:nth-child(even):before,
.card-filme:nth-child(even):after {
  background: linear-gradient(235deg, #ff0202, #001c3f, #fbff03);
}

.footerInfo{
  font-family: 'Be Vietnam Pro', sans-serif;
  background-color: #060c21;
  height: 4em;
  border-radius: 20px;
}

.footerInfo p{
    margin-top: 20px;
}

.logo:hover{
  transition: 2s;
  transform: scale(1.1);
}
.navbar:hover{
  background-color: #060c21;
  margin: 20px;
  border-radius: 50px;
}
.nav-link:hover{
  filter: drop-shadow(2px 1px 4px #1ee0d0);
}

.carousel-control-next-icon:hover, .carousel-control-prev-icon:hover{
  filter: drop-shadow(5px 5px 6px #1ee0d0);
}

.filme:hover {
  cursor: pointer;
}

.card-filme:hover{
  transform: scale(1.05);
  transition: 500ms cubic-bezier(.39,.66,.83,.67);
}

@media (max-width: 700px) {
  .textoServ{
    flex-wrap: wrap;
    width: 100%;
  }
  .footerInfo {
    flex-direction: column;
    height: auto;
  }
}