<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
</head>
<body>
    <main id="main">
        <div class="main-container">
         <div class="contacts"> 
            <div class="developers">
                <img src="../../images/carolly.jpg" class="img" >
                   <h2>Carolly Barbosa</h2>
                     <ul class = "social-media">
                         <li><a href="https://www.linkedin.com/in/carolly-barbosa-283a7a1b9/" class="btn" target="_blank">LinkedIn</a></li>
                         <li><a href="https://github.com/carollyb" class="btn" target="_blank">Github</a></li>
                     </ul>
             </div> 
         </div>
    
            <div class="contacts">
                <div class="developers">
                   <img src="../../images/ivan.jpg" class="img" >
                      <h2>Ivan Geier</h2>
                          <ul class = "social-media">
                            <li><a href="https://www.linkedin.com/in/ivan-geier-b3603244/" class="btn" target="_blank">LinkedIn</a></li>
                            <li><a href="https://github.com/ivangeier" class="btn" target="_blank">Github</a></li>
                          </ul>
                </div>    
            </div>

            <div class="contacts"> 
                <div class="developers">
                    <img src="../../images/priscila.jpg" class="img" >
                      <h2>Priscila Rossetto</h2>
                           <ul class = "social-media">
                             <li><a href="https://www.linkedin.com/in/priscilarossetto/" class="btn" target="_blank">LinkedIn</a></li>
                             <li><a href="https://github.com/priscilarossetto" class="btn" target="_blank">Github</a></li>
                           </ul>
                </div> 
            </div>
        
                <div class="contacts">
                    <div class="developers">
                        <img src="../../images/sabrina.jpg" class="img" >
                           <h2>Sabrina Couto</h2>
                             <ul class = "social-media">
                                 <li><a href="https://www.linkedin.com/in/sabrinacoutolima" class="btn" target="_blank">LinkedIn</a></li>
                                 <li><a href="https://github.com/sabrinacouto" class="btn" target="_blank">Github</a></li>
                            </ul>
                    </div>    
                </div>  

                <div class="contacts">
                    <div class="developers">
                    <img src="../../images/sinaria.jpg" class="img" >
                      <h2>Sinária Carvalho</h2>
                         <ul class = "social-media">
                             <li><a href="https://www.linkedin.com/in/sin%C3%A1ria-carvalho-1a180a18b/" class="btn" target="_blank">LinkedIn</a></li>
                             <li><a href="https://github.com/Sinariac" class="btn" target="_blank">Github</a></li>
                         </ul>
                    </div>    
              </div>
        </div>
        
    </main>
    
</body>
</html>